body {
	margin: 0;
	text-align: center;

	background-color: rgb(251, 251, 251);
	color: rgb(0, 0, 0);
	font: 14px Arial;

	line-height: 1.5em;
}

a:link {
	color: rgb(66, 114, 219);
	text-decoration: none;
}

a:visited {
	color: rgb(66, 114, 219);
}

a:active {
	color: rgb(66, 114, 219);
}

a:hover {
	color: rgb(66, 114, 219);
	text-decoration: underline;
}

p.center {
	text-align: center;
}

img.instruction {
	border: 1px solid rgb(229, 229, 229);
	border-radius: 3px;
}

#install {
	display: block;
	position: relative;
	width: 256px;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 30px;
	padding: 10px;
	font-size: 32px;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 6px 0 rgb(80, 30, 30), 0 12px 0 rgba(0, 0, 0, 0.1), inset 0 100px 150px -30px rgba(255, 150, 150, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), 0 -1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);

	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: rgb(160, 60, 65);
}

#install:hover {
	top: -2px;
	box-shadow: 0 6px 0 rgb(80, 30, 30), 0 14px 0 rgba(0, 0, 0, 0.1), inset 0 100px 150px -30px rgba(255, 150, 150, 0.8);
}

#install:active {
	top: 2px;
	box-shadow: 0 6px 0 rgb(80, 30, 30), 0 10px 0 rgba(0, 0, 0, 0.1), inset 0 100px 150px -30px rgba(255, 150, 150, 0.5);
}

#install > i {
	font-weight: normal;
	font-size: 24px;
}

#main-link {
	font-weight: bold;
	color: rgb(175, 43, 38) !important;
}

#main-link:hover {
	color: rgb(255, 255, 255) !important;
}

ol, ul {
	padding: 0;
	margin: 0;
}

ol > li, ul > li {
	margin: 1em;
	margin-left: 2em;
}

nav {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 43px;
	text-align: left;

	background-color: rgb(241, 242, 241);
	border-bottom: 1px solid rgb(229, 229, 229);
}

nav > ul {
	margin-left: 149px;
	list-style-type: none;
}

nav > ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav > ul > li > a {
	display: inline-block;
	height: 43px;
	line-height: 43px;
	padding-left: 1em;
	padding-right: 1em;

	text-decoration: none !important;
	color: rgb(0, 0, 0) !important;
}

nav > ul > li > a:hover {
	background-color: rgb(60, 60, 60);
	color: rgb(255, 255, 255) !important;
}

ul.tabs {
	display: block;
	width: 658px;
	margin-left: -20px;
	margin-right: -20px;
	text-align: center;

	border-bottom: 1px solid rgb(229, 229, 229);

	list-style-type: none;
}

ul.tabs > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul.tabs > li > a {
	display: inline-block;
	position: relative;
	top: 1px;
	height: 24px;
	width: 64px;
	padding-left: 1em;
	padding-right: 1em;

	font-size: 13px;
	font-weight: bold;
	text-decoration: none !important;
	color: rgb(51, 51, 51) !important;

	opacity: 0.5
}

ul.tabs > li > a.active, ul.tabs > li > a:hover {
	opacity: 1;
	border-bottom: 3px solid rgb(175, 43, 38);
}

h2 {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.75em;
	font-size: 1.5em;
	line-height: 1.5em;
}

h3, p.question {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}

.page {
	width: 618px;

	position: relative;

	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;

	border-bottom: 1px solid rgb(229, 229, 229);
}

#fork-me {
	position: fixed;
	left: 0;
	top: 0;
	width: 149px;
	height: 149px;
	border: 0;
}

#big-screenshot-container {
	position: absolute;
	left: 0;
	top: 44px;
	width: 100%;
	overflow: hidden;
}

#big-screenshot {
	width: 1216px;
	height: 518px;

	margin: 16px;
	margin-left: -424px;
	margin-right: -424px;
	position: relative;
}

img.right {
	float: right;

	margin: 20px;
	margin-right: 0;
}

#main {
	width: 618px;
	padding: 20px;
	padding-top: 584px;
	padding-bottom: 0;
	margin: auto;
	margin-bottom: 20px;
	text-align: left;

	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(229, 229, 229);
	border-top: 0;
}
